<h2 class="text-center">Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
    <!--SearchBox-->
  <app-share-box
   placeholder="Buscar por capital"
   (onValue)="searchByCapital($event)"
   (onDebounce)="searchByCapital($event)"
   [initialValue]="initialValue"
    ></app-share-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table> <!--Le enviamos los paises que tengo de resultado de la busqueda-->
    </div>
</div>
